.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f000;
}

.choices-container {
  display: flex;
  gap: 20px;
}

.choice-btn-oui {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

.choice-btn-oui:hover {
  background-color: #1b421d;
}

.choice-btn-non {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #af4c4c;
  color: white;
  border: none;
  border-radius: 5px;
}

.choice-btn-non:hover {
  background-color: #8a0000;
}

.next-choices {
  display: flex;
  gap: 20px;
  margin-left: 40px;
}
