.choices-container {
  display: flex;
  gap: 20px;
}

.choice-btn-oui {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

.choice-btn-oui:hover {
  background-color: #45a049;
}